/*

    Assignemnt Requirements & Notepad:

    1. Have at least 10 selectors
    2. Use two or more fonts for different kinds of content
    3. Set the background color of some elements, specifying the color by hex notation
    4. Set the border of some elements
    5. Use the :hover pseudo-class for one or more elements
    6. Use at least one class-based selector
    7. Use at least one id-based selector
    8. Have at least one selector rely on the hierarchical relationship between two elements
    9. Use width and/or height to control the geometry of an element
    10. Validate as CSS3 using the W3C CSS validation tool ([css-validator](http://jigsaw.w3.org/css-validator/))

*/

.center {
    margin: auto;
    width: 50%;
}

.sidebar {
    margin: auto;
    width: 10%;
}